title= title
link(rel='stylesheet', href='/stilovi/stil.css')
meta(name='description', content='Pretraži mrežu virtualnog Dinara – blokovi, transakcije, adrese i više – ili ugradi APS pretraživača u svoju aplikaciju!')
