div(class='header')
  h1 vDINAR PRETRAŽIVAČ
  |
  ul(class='menu')
    a(href='/')
      li Blokovi
    a(href='/transakcije')
      li Transakcije
    a(href='/aps')
      li APS
    a(href='https://github.com/vDinar/Markopolo', target='_blank')
      li Izvorni kod
