doctype html
html
  head
    include includes/head.pug
  body
    include includes/header.pug
    |
    div(class='body')
      div(class='api')
        div(class='menu')
          div(class='menu-box')
            h2 Meni funkcija
            ul
              li
                a(href='#adresa') adresa
              li
                a(href='#adresneTransakcije') adresneTransakcije
              li
                a(href='#blok') blok
              li
                a(href='#blokPutemRezultata') blokPutemRezultata
              li
                a(href='#blokPutemPozicije') blokPutemPozicije
              li
                a(href='#lanacBlokova') lanacBlokova
              li
                a(href='#rezultatBloka') rezultatBloka
              li
                a(href='#zadnjiBlokovi') zadnjiBlokovi
              li
                a(href='#zadnjeTransakcije') zadnjeTransakcije
              li
                a(href='#rudarenje') rudarenje
              li
                a(href='#izvornaTransakcija') izvornaTransakcija
              li
                a(href='#proizvod') proizvod
              li
                a(href='#transakcija') transakcija
              li
                a(href='#pretraga') pretraga
        div(class='functions')
          h2 APS v1.0
          div(class='function' id='adresa')
            h3 adresa
            p
              span(class='parameters')
                | GET parametri: "adresa".
              span(class='description')
                | Vraća glavne informacije o specificiranoj adresi: ukupne potvrđene i nepotvrđene količine primljenog i potrošenog novca.
          div(class='function' id='adresneTransakcije')
            h3 adresneTransakcije
            p
              span(class='parameters')
                | GET parametri: "adresa", "stranica" (neobavezan, zadana vrijednost je 1).
              span(class='description')
                | Vraća do 10 sačuvanih transakcija povezane sa specificiranom adresom. Razmak se može odrediti parametrom "stranica".
          div(class='function' id='blok')
            h3 blok
            p
              span(class='parameters') GET parametri: "rezultat" ili "pozicija".
              span(class='description')
                | Vraća direktni odgovor funkcije "getblock", no ako je specificiran i parametar "pozicija" poziva i "getblockhash" funkciju prije toga. Preporučeno je koristiti
                a(href='#blokPutemRezultata') blokPutemRezultata
                |  ili 
                a(href='#blokPutemPozicije') blokPutemPozicije
                |  za malo brži odgovor.
          div(class='function' id='blokPutemRezultata')
            h3 blokPutemRezultata
            p
              span(class='parameters')
                | GET parametri: "rezultat".
              span(class='description')
                | Isto kao 
                a(href='#blok') blok
                |  sa parametrom "rezultat", no izbjegava nepotrebnu provjeru za parametrom "pozicija", te je odgovor malo brži.
          div(class='function' id='blokPutemPozicije')
            h3 blokPutemPozicije
            p
              span(class='parameters')
                | GET parametri: "pozicija".
              span(class='description')
                |	Isto kao 
                a(href='#blok') blok
                |  sa parametrom "pozicija", no izbjegava nepotrebnu provjeru za parametrom "rezultat", te je odgovor malo brži.
          div(class='function' id='lanacBlokova')
            h3 lanacBlokova
            p
              span(class='parameters')
                | Bez parametra.
              span(class='description')
                | Vraća direktni odgovor funkcije "getblockchaininfo".
          div(class='function' id='rezultatBloka')
            h3 rezultatBloka
            p
              span(class='parameters')
                | GET parametri: "pozicija".
              span(class='description')
                | Vraća direktni odgovor funkcije "getblockhash".
          div(class='function' id='zadnjiBlokovi')
            h3 zadnjiBlokovi
            p
              span(class='parameters')
                | GET parametri: "stranica" (neobavezan, zadana vrijednost je 1).
              span(class='description')
                | Vraća do 10 blokova direktno sa novčanika. Razmak se može odrediti parametrom "stranica".
          div(class='function' id='zadnjeTransakcije')
            h3 zadnjeTransakcije
            p
              span(class='parameters')
                | GET parametri: "stranica" (neobavezan, zadana vrijednost je 1).
              span(class='description')
                | Vraća do 10 sačuvanih zadnjih transakcija. Razmak se može odrediti parametrom "stranica".
          div(class='function' id='rudarenje')
            h3 rudarenje
            p
              span(class='parameters')
                | Bez parametra.
              span(class='description')
                | Vraća direktni odgovor funkcije "getmininginfo".
          div(class='function' id='izvornaTransakcija')
            h3 izvornaTransakcija
            p
              span(class='parameters')
                | GET parametri: "rezultat".
              span(class='description')
                | Vraća direktni odgovor funkcije "getrawtransaction".
          div(class='function' id='proizvod')
            h3 proizvod
            p
              span(class='parameters')
                | Bez parametra.
              span(class='description')
                | Vraća sačuvani podatak o ukupnom proizvodu virtualnih Dinara.
          div(class='function' id='transakcija')
            h3 transakcija
            p
              span(class='parameters')
                | GET parametri: "identifikator" (ili rezultat transakcije ili njen broj).
              span(class='description')
                | Vraća glavne informacije o specificiranoj transakciji.
          div(class='function' id='pretraga')
            h3 pretraga
            p
              span(class='parameters')
                | GET parametri: "tekst" (pozicija bloka, rezultat bloka, rezultat transakcije ili adresa).
              span(class='description')
                | Vraća lokalnu putanju do stranice sa informacijama o specificiranom bloku, transakciji ili adresi.
    |
    include includes/footer.pug
